Write a Python program to print "Hello, World!

In [ ]:
print('hello world!')

hello world!

Write a Python program that displays your name and age

In [ ]:
name ="akshay"
age = 23
print(name,age)

akshay 23

Write code to print all the pre-defined keywords in Python using the keyword library

In [ ]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

Write a program that checks if a given word is a Python keyword.

In [ ]:
word=input('enter a word to check:')
if keyword.iskeyword(word):

  print(f" yes the {word} is python keyword")
else:
  print(f"no the {word} is not python keyword")

enter a word to check:i
no the i is not python keyword

Create a list and tuple in Python, and demonstrate how attempting to change an element works differently
for each.

In [ ]:
list_cont=[1,2,3,4,5,6]

tuple_cont=(1,2,3,4,5,8)

In [ ]:
list_cont[0]

1

In [ ]:
list_cont[-1]

6

In [ ]:
tuple_cont(1)

NameError: name 'tuple_cont' is not defined

Write a function to demonstrate the behavior of mutable and immutable arguments.

In [ ]:
list_cont=[12,13,55,44,66]

# mutable argument

In [ ]:
list_cont[3]= 33

In [ ]:
list_cont[3]

33

Write a program that performs basic arithmetic operations on two user-input numbers.

In [ ]:
num1=int(input('enter first number:'))
num2=int(input('enter second number:'))

print("Addition:", num1 + num2)
print("Subtraction:", num1 - num2)
print("Multiplication:", num1 * num2)
print("Division:", num1 / num2)

enter first number:77
enter second number:88
Addition: 165
Subtraction: -11
Multiplication: 6776
Division: 0.875

Write a program to demonstrate the use of logical operators.

In [ ]:
a=True
b=False

print(a or b)
print(a and b)

True
False

Write a Python program to convert user input from string to integer, float, and boolean types.

In [ ]:
user_input=input('enter a value')
print('integer:',int(user_input))
print('float:',float(user_input))
print('boolean:',bool(user_input))

enter a value33
float: 33.0
boolean: True

Write code to demonstrate type casting with list elements.

In [ ]:
data=["22",'45.9','true','akshay']
int_val=int(data[0])
float_val=float(data[1])
bool_val=bool(data[2])
str_val=str(data[3])

print(int_val)
print(float_val)
print(bool_val)
print(str_val)

22
45.9
True
akshay

 Write a program that checks if a number is positive, negative, or zero.

In [ ]:
num=int(input('enter a number:'))
if num > 0:
  print('positive')
elif num < 0:
  print('negetive')

enter a number:200
positive

Write a for loop to print numbers from 1 to 10.

In [ ]:
for a in range(1, 11):
  print(a)

1
2
3
4
5
6
7
8
9
10

Write a Python program to find the sum of all even numbers between 1 and 50.

In [ ]:
sum_even=2
for num in range(1 , 50):
    if num % 2== 0:
     sum_even +=num

    print('even number from 1 to 50:',sum_even)

even number from 1 to 50: 2
even number from 1 to 50: 4
even number from 1 to 50: 4
even number from 1 to 50: 8
even number from 1 to 50: 8
even number from 1 to 50: 14
even number from 1 to 50: 14
even number from 1 to 50: 22
even number from 1 to 50: 22
even number from 1 to 50: 32
even number from 1 to 50: 32
even number from 1 to 50: 44
even number from 1 to 50: 44
even number from 1 to 50: 58
even number from 1 to 50: 58
even number from 1 to 50: 74
even number from 1 to 50: 74
even number from 1 to 50: 92
even number from 1 to 50: 92
even number from 1 to 50: 112
even number from 1 to 50: 112
even number from 1 to 50: 134
even number from 1 to 50: 134
even number from 1 to 50: 158
even number from 1 to 50: 158
even number from 1 to 50: 184
even number from 1 to 50: 184
even number from 1 to 50: 212
even number from 1 to 50: 212
even number from 1 to 50: 242
even number from 1 to 50: 242
even number from 1 to 50: 274
even number from 1 to 50: 274
even number from 1 to 50: 308
even number from 1 to 50: 308
even number from 1 to 50: 344
even number from 1 to 50: 344
even number from 1 to 50: 382
even number from 1 to 50: 382
even number from 1 to 50: 422
even number from 1 to 50: 422
even number from 1 to 50: 464
even number from 1 to 50: 464
even number from 1 to 50: 508
even number from 1 to 50: 508
even number from 1 to 50: 554
even number from 1 to 50: 554
even number from 1 to 50: 602
even number from 1 to 50: 602

 Write a program to reverse a string using a while loop

In [ ]:
text=input('enter a string')

reversed_text=''
index=len(text)-1
while index >=0:
  reversed_text+=text[index]
  index-=1
  print(reversed_text)

enter a stringindex
x
xe
xed
xedn
xedni

 Write a Python program to calculate the factorial of a number provided by the user using a while loop.